.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    border-right: 2px solid rgb(219, 145, 145);
    border-bottom: 1px solid rgb(219, 145, 145);
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    color:#01161a;
    background-image: linear-gradient(rgba(246, 221, 204, 0.3), rgba(186, 74, 0, 0.5)); 
    padding: .7rem;
    margin-right: 1rem;
    margin-top: -1rem;
    width: 195px;
}

.title{
    margin-top:0;
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
}

.check{
    padding: .3rem;
    cursor: pointer;
}

.inputCheck{
    margin-left: -.3rem;
    cursor: pointer;
    font-family: 'Roboto Slab', serif;
}

