.container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 0 0 0;
}
.containerTitle{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.title{
  position: relative;
  top:-5rem;
  font-size:2.7rem;
  font-weight: 700;
  font-family: 'Roboto Slab', serif;
  color: rgb(153, 146, 201);
  text-align: left;
}

.subtitle{
  position: relative;
  top:-7rem;
  font-size:1.7rem;
  font-weight: 700;
  font-family: 'Roboto Slab', serif;
  color: rgb(181, 176, 212);
  text-align: left;
} 

.containerBtn{
  display:flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top:-5rem;
}

.btnHome{
  font-weight: 600;
  font-family: 'Roboto Slab', serif;
  font-size: 1.2rem;
  padding: 10px;
  border: transparent;
  border:none;
  border-radius: 999px;
  background-image: linear-gradient(#533f52 , #290636);
  cursor: pointer;
  color: rgb(227, 219, 231);
  margin-top: .5rem;
}

.btnHome:hover{
  background-image: linear-gradient(#a08c9f , #471658);
  color: rgb(251, 250, 252);
}
.btnHome:active{
  transform:scale(.99)
}
.containerIcons{
  display:flex;
  position: relative;
  top:-3rem;
  padding:0;
  margin: 0;
}
.iconsLinkedin{
  color: #1951CA; 
  background-color: white; 
  font-size: 2rem;
  cursor: pointer;
  margin-right: 3px;
}
.iconsGit{
  color:#101111;
  background-color: white; 
  font-size: 2rem;
  cursor: pointer;
}



.ldsFacebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px; 
  }
  .ldsFacebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px; 
    /* background: #fed; */
    background: rgb(201, 162, 121);
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .ldsFacebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .ldsFacebook div:nth-child(2) {
    left: 32px; 
    animation-delay: -0.12s;
  }
  .ldsFacebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px; 
      height: 32px;
    }
  }
  